
*{
    margin:0;
    padding:0;
    font-family: poppins, sans-serif;
    text-align: center;
    height: auto;
    width: 100%;
}

img, embed, object, video {
    max-width: 100%;
}

@media only screen and (max-device-width : 650px) {
    
    #home-screen-left {
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: white;
    }
    
    .home-navigation-list-item-links {
        list-style: none;
        height: 100%;
        float: left;
        width: 33%;
    }

    #home-screen-right {
        width: 64%;
        float: right;
        margin-right: 2%;
    }

    .home-screen-section {
        width: 100%;
    }

    .home-profile-pic {
        margin-top: 1%;
        float: left;
        border-radius: 50%;
        width: 90%;
    }

    .home-screen-container {
        width: 100%;
        float: left;
    }

    .home-navigation-list {
        width: 95%;
        margin-top: 2%;
        float: right;
        margin-left: 1%;
        margin-right: 1%;
    }

    .home-navigation-list-item {
        list-style: none;
        height: 100%;
        float: left;
        width: 33%;
    }

    .home-navigation-link {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }

    .social_media_container {
        width: 100%;
    }

    .social_media__individual {
        float: left;
        width: 30%;
        margin-right: 2%;
    }

    .span-link {
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;

        /* fixes overlap error in IE7/8, 
         make sure you have an empty gif 
        background-image: url('empty.gif');*/  
    }

    .title {
        font-family: poppins, sans-serif;
        color: black;
        text-align: center;
    }

    .portfolio {
        width: 100%;
        height: 95%;
        margin-top: 2%;
    }

    .portfolio-large {
        float: left;
        width: 50%;
        height: 50%;
        background-size: cover;
    }

    #right {
        float: right;
        background-image: url("Images/Portfolio/background.jpg");
    }

    #left {
        background-image: url("Images/Portfolio/code-pen-large.jpg");
    }

    .portfolio-large-hover {
        width: 50%;
        height: 100%;
        float: left;
    }

    .portfolio-large-cover {
        height: 100%;
        width: 100%;
        position: relative;
        opacity: 0;
    }

    .portfolio-title {
        padding-top: 10%;
        color: black;
    }

    .portfolio-large-hover-container {
        height: 80%;
        width: 80%;
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;
        opacity: 0.8;
        margin-left: 10%;
        margin-top: 15%;
    }

    .portfolio-small {
        float: left;
        width: 25%;
        height: 40%;
        background-size: cover;
        position: relative;
    }

    #portfolio-small-one {
        background-image: url("Images/Portfolio/facebook.jpg");
    }

    #portfolio-small-two {
        background-image: url("Images/Portfolio/spotify.jpg");
    }

    #portfolio-small-three {

        background-image: url("Images/Portfolio/twitter.jpg");
    }

    #portfolio-small-four {

        background-image: url("Images/Portfolio/guardian.jpg");
    }

    .portfolio_more_info {
        width: 100%;
        position: absolute;
        top: 85%;
        height: 15%;
        background-color: #ee8687;
        opacity: 0;
    }

    .portfolio_more_info_text {
        text-align: center;
        font-family: "fjalla one", sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 35px;
    }

    .section {
        width: 100%;
        height: 95%;
        margin-top: 2%;
    }

    .contact_container {
        height: 100%;
        width: 94%;
        margin-top: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }

    #contact {    
        margin-top: 37%;
        height: auto;
    }

    .contact-email {
        font-size: 1.25em;
        padding-top: 1%;
    }

    .form-container {
        width: 100%;
        height: 70%;
        position: relative;
    }

    .form-entry {
        float: left;
        width: 40%;
        margin-top: 5%;
        margin-left: 3%;
        border: 1px solid grey;
    }

    #email {
        margin-left: 10%;
    }

    #website {
        margin-left: 10%;
    }

    #home-screen-right-contact {
        width: 64%;
        float: right;
        height: 700px;
        margin-right: 2%;
    }

    #name-icon {
        width: 3%;
        height: 4%;
        float: left;
        position: absolute;
        left: 0;
        top: 5%
    }

    #email-icon {
        width: 3%;
        height: 4%;
        float: left;
        position: absolute;
        left: 50%;
        top: 5%
    }

    #number-icon {
        width: 3%;
        height: 4%;
        float: left;
        position: absolute;
        left: 0%;
        top: 15%
    }

    #website-icon {
        width: 3%;
        height: 4%;
        float: left;
        position: absolute;
        left: 50%;
        top: 15%
    }

    .form-text-entry {
        margin-top: 3%;
        width: 89%;
        float: left;
        margin-left: 3%;
        height: 200px;
        text-align: left;
        padding-left: 2%;
        padding-top: 1%;
        border: 1px solid grey;
    }

    .form-submit {
        margin-top: 2%;
        width: 10%;
        background-color: white;
        border: 1px solid rgba(81, 203, 238, 1);
        border-radius: 20px;
        float: right;
        margin-right: 6%;
        min-width: 70px;
        min-height: 48px;
    }

    .signature {
        color: firebrick;
        margin-top: 5%;
        font-size: 1.2em;
        font-family: "Cormorant Garamond", sans-serif;
    }

    #home-screen-section-about {
        width: 75%;
        float: right;
        height: 750px;
        margin-right: 2%;
    }

    .about-me-container {
        width: 90%;
        height: auto;
        margin-left: 5%;
        clear: both;
        overflow:auto;
    }

    .skills-list-container {
        float: left;
        width: 50%;
        height: auto;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    .skills-list-item {
        list-style: none;
        margin: 5% 0 5% 0;
        color: firebrick;
    }

    .skills-container {
        width: 100%;
        height: auto;
    }

    .skills-section {
        width: 100%;
        height: auto;
        float: left;
        margin-bottom: 15%;
    }

    #contactForm {
        width: 100%;
        height: auto;
        clear: both;
        overflow:auto;
    }

    .footer {
        width: 100%;
        background-color: black;
        overflow: auto;
    }

    #home-screen-section-footer {
        background-color: black;
        float: right;
        width: 100%;
        height: 200px;
        color: white;
    }

    .footer-copyright {
        float: right;
    }

    .footer-copyright-container {
        width: 15%;
        height: 45%;
        float: right;
        margin-right: 5%;
        margin-top: 8%;
    }

    .footer-social-media-container {
        float: left;
        width: 33%;
        height: 70%;
        background-color: black;
        padding-bottom: 0px;
        padding-top: 5%;
    }

    .footer-icon-small {
        height: 70%;
        width: 70%;
    }

    .home-screen {
        max-height: 20000px;
        overflow: auto;
    }

    #profile-pic {
        width:20%;
    }

    #signature-name {
        width: 40%;
    }

    #social-media {
        width: 40%;
        margin-top: 2%;
    }

    #about {
        height: auto;
        clear: both;
        overflow:auto;
    }

    .skills-title {
        color: firebrick;
    }

    .hideme {
        opacity:0;
    }

    .contact-text {
        margin-right: 5%;
    }

    #contact-link {
        color: firebrick;
    }

    .footer-signature {
        text-align: left;
        color: white;
        font-size: 1em;
        font-family: "Cormorant Garamond", sans-serif;
        line-height: 1.1;
        margin-left: 2%;
        margin-top: 2%;
        margin-top: 2%;
    }

    .footer-social_media_container {
        width: 50%;
        float: right;
        margin-top: 2%;
    }

    .footer-social-media-individual {
        width: 30%;
        float: left;
    }

    .footer-signature-container {
        float: left;
        width: 50%;
    }

    #second-line {
        font-size: 1em;
    }

}

@media only screen and (min-device-width : 650px) {

    .home-screen {
        overflow: auto;
    }

    #home-screen-left {    
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: white;    
        width: 33%;
        height: 100%;
        min-width: 255px;
    }

    #contact {
        float: right;
        width: 66%;
        margin-top: 5%;    
    }

    #about {
        height: auto;
        clear: both;
        overflow:auto;
        width: 66%;
        float: right;
    }

    .home-navigation-list {
        width: 50%;
        margin-left: 25%;
        height: 50%;
        height: 50%
    }

    .home-navigation-list-item-links{
        list-style: none;
        height: 33%;
    }

    .home-profile-pic {
        border-radius: 50%;
        width: 40%;
    }

    .signature {        
        margin-top: 5%;
        font-size: 1.2em;
        font-family: "Cormorant Garamond", sans-serif;    
    }

    #social-media {
    }

    .social_media__individual {
        float: left;
        width: 30%;
        margin-right: 2%;
    }

    .home-navigation-link {
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }

    #second-line {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 10%;
    }

    #contactForm {
        width: 66%;
        height: auto;
        clear: both;
        overflow:auto;
        float: right;
    }

    .form-entry {
        float: left;
        width: 44%;
        margin-top: 2%;
        margin-left: 3%;
        border: 1px solid grey;
    }

    .form-text-entry {
        margin-top: 2%;
        width: 89%;
        float: left;
        margin-left: 3%;
        height: 180px;
        text-align: left;
        padding-left: 2%;
        padding-top: 1%;
        border: 1px solid grey;
    }

    .form-submit {
        margin-top: 2%;
        width: 10%;
        background-color: white;
        border: 1px solid rgba(81, 203, 238, 1);
        border-radius: 20px;
        float: right;
        margin-right: 6%;
        min-width: 70px;
        min-height: 48px;
    }

    .about-me-container {
        width: 90%;
        height: auto;
        margin-left: 5%;
        clear: both;
        overflow:auto;
    }

    .skills-list-container {
        float: left;
        width: 30%;
        height: auto;
        margin-top: 3%;
        margin-bottom: 6%;
    }

    .skills-list-item {
            list-style: none;
            margin: 5% 0 5% 0;
            color: firebrick;
    }

    .skills-section {
        width: 45%;
        height: auto;
        float: left;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    .skills-title {
        color: firebrick;
    }

    #left-skills {
        margin-left: 20%;
    }

    .about-me-text {
        width: 80%;
        margin-left: 10%;
    }
    
    .home-screen-container {
        height: 70%;
        margin-top: 15vh;
    }

    .home-navigation-list-item {
        list-style: none;
        height: 33%;
    }

    #bottom {
        margin-top: 5%;
    }
    
    .footer-signature-container {
        float: left;
        width: 50%;
    }

    .footer {
        width: 100%;
        background-color: black;
        overflow: auto;
    }

    .footer-signature {
        text-align: left;
        color: white;
        font-size: 1em;
        font-family: "Cormorant Garamond", sans-serif;
        line-height: 1.1;
        margin-left: 5%;
        margin-top: 2%;
        margin-top: 2%;
    }

    .footer-social_media_container {
        width: 25%;
        float: right;
        margin-top: 2%;
    }

    .footer-social-media-individual {
        width: 30%;
        float: left;
    }

    #contact-link {
        color: firebrick;
    }
}